.favoritePage-container {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.favoritePage-heading {
    color: var(--text-color);
    font-family: var(--font-standard);
    padding: 2rem 0;
    padding-bottom: 0;
}

@media screen and (max-width: 1150px) {
    .favoritePage-container {
        padding: 0 1rem;
    }
}