.watchlist {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.watchlist__title {
    color: var(--text-color);
    font-family: var(--font-standard);
    padding: 2rem;
    padding-bottom: 0;
}