.movieCard {
    position: relative;
    overflow: hidden;
}

.movieCard:hover .movieCard__poster {
    scale: 1;
    filter: brightness(65%);
}

.movieCard:not(:hover) .movieCard__poster {
    transition-delay: 0.3s;
    opacity: 0.3s ease;
}

.movieCard:hover .movieCard__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

.movieCard img {
    max-width: 100%;
    height: auto;
}

.movieCard__overlay {
    height: 30%;
    position: absolute;
    bottom: calc(-20%);
    left: 0;
    right: 0;
    background: var(--gradient-dark-top);
    color: var(--text-color);
    padding: 1px 10px;
    display: flex;
    flex-direction: column;
    transition: bottom 0.5s ease, opacity 0.3s ease;
    opacity: 1;
}

.movieCard:hover .movieCard__overlay {
    bottom: 0;
}

.movieCard:not(:hover) .movieCard__overlay {
    transition-delay: 0.3s;
    bottom: calc(-20%);
    opacity: 0.3s ease;
}

.movieCard__title {
    font-size: 1rem;
    font-weight: 300;
    margin-top: .5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.movieCard__actions {
    min-height: 30%;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.movieCard__actions button {
    margin-left: 1rem;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.movieCard__actions button:hover {
    transform: scale(1.2);
}

.watchlist-btn {
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
}

.favlist-btn {
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
}