.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__heading {

}

.header__input {

}

.header__search-icon {

}

.header__nav {

}

.header__nav-list {

}

.header__list-item {

}