.trailer-carousel {
    position: relative;
    min-height: 250px;
    overflow: hidden;
}

.trailer-carousel__fade-left,
.trailer-carousel__fade-right {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
}

.trailer-carousel__fade-left {
    background: linear-gradient(90deg, rgba(51, 71, 86, 1) 20%, rgba(51, 71, 86, 0) 100%);

}

.trailer-carousel__fade-right {
    background: linear-gradient(270deg, rgba(51, 71, 86, 1) 20%, rgba(51, 71, 86, 0) 100%);
    left: auto;
    right: 0;
    justify-content: flex-end;
}

.trailer-carousel__navigation-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
}

.trailer-carousel__item-1,
.trailer-carousel__item-2,
.trailer-carousel__item-3,
.trailer-carousel__item-4,
.trailer-carousel__item-5 {
    position: absolute;
    transform: translate(-50%, -50%);
    aspect-ratio: 16/9;
    transition: all .2s ease-in;
    top: 50%;
}

.trailer-carousel__item-1 {
    left: 10%;
    z-index: 0;
}

.trailer-carousel__item-2 {
    left: 30%;
    height: 200px;
    z-index: 1;
}

.trailer-carousel__item-3 {
    height: 250px;
    left: 50%;
    z-index: 2;
}

.trailer-carousel__item-4 {
    left: 70%;
    height: 200px;
    z-index: 1;
}

.trailer-carousel__item-5 {
    left: 90%;
    z-index: 0;
}