@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --blue-color-darkest: #082032;
    --blue-color-dark: #2C394B;
    --blue-color-light: #334756;
    --accent-color: #FF4C29;
    --text-color: #FFFDFF;
    --font-standard: "Inter", sans-serif;
    --gradient-light-top: linear-gradient(180deg, rgba(51,71,86,1) 0%, rgba(8,32,50,0.9) 100%);
    --gradient-dark-top: linear-gradient(0deg, rgba(51,71,86,1) 0%, rgba(8,32,50,0.9) 100%);
}
