.singleMovie__main {
    padding: 1rem;
    background-color: var(--blue-color-light);
}

.singleMovie__section {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
}

.singleMovie__img {
    aspect-ratio: 2 / 3;
    margin-right: 1rem;
}

.singleMovie__info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.singleMovie__wrapper-upper {
    display: flex;
    flex-direction: column;
}

.singleMovie__heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text-color);
}

.singleMovie__heading{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    font-family: var(--font-standard);
}

.singleMovie__icon-container {}

.singleMovie__plus-icon { margin-right: 1rem; }
.singleMovie__plus-icon:hover { transform: scale(1.10); }
.singleMovie__star-icon:hover { transform: scale(1.10); }
.singleMovie__checked-icon {}
.singleMovie__star-icon {}
.singleMovie__filledstar-icon {}
.singleMovie__filledstar-icon:hover {}

.singleMovie__details {
    gap: 1rem;
    display: flex;
    padding: 1rem .5rem;
    justify-content: space-between;
    font-family: var(--font-standard);
}
.singleMovie__details-item::first-letter { text-transform: uppercase; }

.singleMovie__details-item { 
    font-size: .8rem;
    color: var(--text-color); 
}

.singleMovie__plot-container { padding: .5rem;}

.singleMovie__plot-heading {
    font-weight: 500;
    font-size: 1.30rem;
    margin-bottom: 1rem;
    color: var(--text-color);
    font-family: var(--font-standard);
}

.singleMovie__plot {
    font-size: 1rem;
    min-height: 10vh;
    margin-bottom: 1rem;
    color: var(--text-color);
    font-family: var(--font-standard);
}

.singleMovie__staff {
    display: flex;
    font-size: .8rem;
    padding-top: 1rem;
    justify-content: space-between;
    font-family: var(--font-standard);
    border-top: 1px solid var(--text-color);
}

.singleMovie__staff-item {
    color: var(--text-color);
}


@media screen and (max-width: 1100px) {

    .singleMovie__details { 
        gap: 1rem;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        padding: 1rem .5rem;
    }

    .singleMovie__staff { flex-wrap: wrap; }
}

@media screen and (max-width: 1030px) {
    .singleMovie__staff { gap: 1rem; }
}